body {
    background-color: #2e3440;
    max-width:80vh;
    color: white;


}
h1, h2 , h3, h4, h5, h6 {
    color: white;
    font-family: sans-serif;
}

#me {
    position: relative;
    top: 0;
}
