@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
	box-sizing: border-box;
}

#title {
	color: #d8e6e6;
	border: 0.1em solid #9ad8d9;
	margin: auto;
	padding: 0 1vw;
	text-align: center;
	border-radius: 2vw;
	display: inline-block;
}

.text {
	color: #d8e6e6;
	font-size: 1.6em;
	line-height: 1.6;
	text-align: justify;
	padding: 0 1vw;
}

article {
	border: 0.1em solid #9ad8d9;
	border-radius: 2vw;
	box-shadow: 0.1em 0.1em 0.5em #9ad8d9;
	height: auto;
}

body {
	max-width: 50%;
	background-color: #0a0b0e;
	font-family: poppins;
	padding: 0 2vw;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	body {
		max-width: 80%;
		font-size: 1.2em;
	}
	article .text p {
		text-align: none;
		color: red;
	}
}
