body {
	color: white;
	background: linear-gradient(45deg, cyan, black, cyan, black);
}
article {
	width: 50%;
	margin: auto;
	border: 2px solid #777;
	box-shadow: (5em 5em 2em white);
	text-align: center;
}
h1 {
	text-align: center;
	border: 1px solid white;
	color: cyan;
}
